@font-face {
    font-family: 'Ethnocentric Rg';
    src: url('../../ethnocentric-rg.ttf') format('truetype');
}

.container {
    padding: 20px;
    text-align: center;
}

.heading {
    font-family: 'Ethnocentric Rg', sans-serif !important;
    background-color: #7518d1;
    background-clip: text;
    color: transparent;
    font-size: 2.2rem;
    font-weight: bold;
}