.container {
    max-width: 800px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 1px 1px 4px 3px rgba(0, 0, 0, 0.12);
    height: fit-content;
}

.header {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    box-shadow: 1px 0 4px 3px rgba(0, 0, 0, 0.05);
}

.header::-webkit-scrollbar {
    height: 7px;
}

.header::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #7518d1;
}

.header .section {
    padding: 10px;
    font-weight: 500;
    font-size: 1rem;
    border-bottom: 2px solid transparent;
    white-space: nowrap;
    cursor: pointer;
    transition: 0.5s;
}

.header .active {
    border-bottom: 2px solid #7518d1;
    color: #7518d1;
}

.body {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.detail {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.detail .row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.detail .column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.detail .row>div {
    flex: 1;
}

.chips {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.chips .new {
    color: #18aad1;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

.chip {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 4px 8px;
    background-color: #7518d1;
    border-radius: 20px;
    cursor: pointer;
}

.chip p {
    font-weight: 500;
    line-height: 1.25rem;
    color: #fff;
}

.chip svg {
    color: #fff;
    height: 18px;
    width: 18px;
    cursor: pointer;
}

.chips .active {
    background-color: #18aad1;
}

.body button {
    width: fit-content;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #7518d1;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 1px;
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.body button:hover{
    background-color: #18aad1;
}

.body button:active {
    transform: translateY(2px);
}

/* media Queries */

@media screen and (max-width:800px) {
    .container {
        max-width: 700px;
    }
}

@media screen and (max-width:700px) {
    .container {
        max-width: 600px;
    }
}

@media screen and (max-width:600px) {
    .container {
        max-width: 500px;
    }
}

@media screen and (max-width:500px) {
    .container {
        max-width: 450px;
    }
}

@media screen and (max-width:450px) {
    .container {
        max-width: 400px;
    }
}

@media screen and (max-width:400px) {
    .container {
        max-width: 375px;
    }
}

@media screen and (max-width:375px) {
    .container {
        max-width: 350px;
    }
}

@media screen and (max-width:320px) {
    .container {
        max-width: 320px;
    }
}